h2 {
    color: rgb(0, 0, 0);
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    font-variant-caps: all-small-caps;
}

h4 {
    color: rgb(0, 0, 0);
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    font-variant-caps: all-small-caps;
}

input {
    color: rgb(0, 0, 0);
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    font-variant-caps: all-small-caps;   
}

label {
    color: rgb(0, 0, 0);
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    font-variant-caps: all-small-caps;
}

#botao {
    background-color: rgb(2, 150, 219);
    border-radius: 10px;
}

#botaotemp {
    background-color: rgb(2, 150, 219);
    border-radius: 10px;

}

fieldset {
    background-color: rgb(184, 247, 255);
    width: 350px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
    border-radius: 10px;
}

#Combustivel, #Distancia {
    background-color: rgb(100, 206, 255);
}

#botaoComb {
    background-color: rgb(2, 150, 219);
    border-radius: 10px;
}

#Centigrados, #Fahrenheit, #Tempo, #Velocidade, #Distancia, #Combustivel {
    border-radius: 8px; 
}
 
